<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>YAGL Retro Designer</string>
    <key>CFBundleIdentifier</key>
    <string>com.yagl.retro.designer</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.9</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright (c) Pavel Melnikov</string>
    <key>CFBundleIconFile</key>
    <string>MacIcon.icns</string>
  </dict>
</plist>
